/*
Resolution : 1000 x 507
.container { width:1235px; height:617px; 
.stage {	width: 1000px;	height: 562px;
.sidebar_middle{height:522px;
.side_contents{height:460px;
*/

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popup_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

div:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Sans-Serif;
  font-size: 12px;
  overflow: hidden;
}

/**
 * https://github.com/hiCreo/editor/issues/1578
 *
 * background position is supposed to be center
 */
.lsPage {
  background-size: cover;
  background-position: center center;
}

.btn {
  cursor: pointer;
}
/* #664, #676 */
div[role='R026'] > div[role='R016'] {
  display: flex;
  align-items: center;
  justify-content: center;
}
div[role='R016'] {
  display: block;
  align-items: unset;
  justify-content: unset;
}
div[role='R016'] > .textWrap {
  position: absolute;
  transform-origin: left top;
}
div[role='R026'] > div[role='R016'] > .textWrap {
  position: absolute;
  transform-origin: unset;
}
.questionTemplate div[role='R016'] > .textWrap,
.certificateTemplate div[role='R016'] > .textWrap {
  position: unset;
}

/**
 * https://github.com/hiCreo/editor/issues/1580
 * https://github.com/hiCreo/editor/issues/1581
 *
 * I hope this is the magic css to solve these two issues
 * It's safari browser issue!
 *
 *
 * https://github.com/hiCreo/editor/issues/1641
 *
 * Also add img tag. ( there are filter css as well )
 */
div[role] > .svgWrap > svg {
  will-change: filter;
}
div[role] > .imageWrap > img {
  will-change: filter;
}

/**
 * https://github.com/hiCreo/editor/issues/1595
 *
 * I hope it could solve this issue
 */
div[role='R016'] > .textWrap:not(.resized) {
  white-space: nowrap;
}
.questionTemplate div[role='R016'] > .textWrap:not(.resized) {
  white-space: initial;
}

div[role='R016'] p {
  margin: 0px;
  /* https://github.com/hiCreo/editor/issues/554 */
  color: initial;
  background-color: initial;
}
div[role='R016'] span.effect-001 {
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
}
div[role='R016'] span.effect-002 {
  text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
div[role='R016'] span.effect-003 {
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}
div[role='R016'] span.effect-004 {
  text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px,
    rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
}
div[role='R016'] span.effect-005 {
  text-shadow: #ffffff -1px -1px 0px, #ffffff -1px 1px 0px, #ffffff 1px 1px 0px,
    #ffffff 1px -1px 0px;
}
div[role='R016'] span.effect-006 {
  text-shadow: #ffffff 0px 0px 6px;
}
div[role='R016'] span.effect-007 {
  text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px,
    rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px,
    rgba(0, 0, 0, 0.498039) 0px 5px 10px;
}
div[role='R016'] span.effect-008 {
  text-shadow: #ffffff 3px 3px 0px, rgba(0, 0, 0, 0.2) 6px 6px 0px;
}
div[role='R016'] span.effect-009 {
  text-shadow: rgba(10, 189, 240, 0.298039) 3px 3px 0px,
    rgba(254, 1, 1, 0.298039) -3px -3px 0px;
}

/* kevin May.08.2019 2197. Authoring/Toolbox/Image Editor/Preset */
.fadeEdges:after {
  content: '';
  position: absolute;
  display: block;
  box-shadow: inset 0 0 15px 25px rgb(255, 255, 255);
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.fadeEdgesCircle:after {
  border-radius: 50%;
}
/* ./ kevin May.08.2019 2197. Authoring/Toolbox/Image Editor/Preset */

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: table; /*jw20210402 #787*/
}
/*//jw20200327 4067*/
.container.scale_to_fit {
  transform-origin: 0 0 0;
  margin: 0;
}
.component_container {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}
.component_container_last {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
  border-right: 0px solid #ccc;
}

.separator {
  background: #ccc;
  width: 1px;
  height: 16px;
  margin: 2px 15px;
}
.component_container .component_base,
.component_container_right .component_base {
  border: 0;
  background: none;
  color: #333;
  cursor: pointer;
  font-size: 12px;
}
.component_base:hover {
  opacity: 0.7;
}

.contents {
  display: flex;
}
.fullscreen {
  z-index: 9999;
  position: fixed;
  top: 0px;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
#fullscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  display: table;
}

.page_navi {
  cursor: pointer;
  position: absolute;
  z-index: 99999;
  width: 100px;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_navi.disabled {
  cursor: not-allowed;
}
.page_navi_prev {
  left: -80px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.page_navi_prev:hover {
  left: 0px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.page_navi_next {
  right: -80px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.page_navi_next:hover {
  right: 0px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.page_navi > .btn {
  transition: opacity 1s linear;
  opacity: 0;
  z-index: -1;
  width: 50px;
  padding: 0px 0px 0px 0px;
  height: 80px;
}

.page_navi:hover > .btn {
  opacity: 1;
  z-index: unset;
}
.page_navi:hover.disabled > .btn {
  cursor: not-allowed;
  opacity: 0.4;
}
.page_navi_prev > .btn {
  background: url(../img/fullscreen_back.png) no-repeat;
  margin-right: 40px;
}
.page_navi_prev:hover > .btn {
  background: url(../img/fullscreen_back_hover.png) no-repeat;
}
.page_navi_next > .btn {
  background: url(../img/fullscreen_next.png) no-repeat;
  margin-left: 40px;
}
.page_navi_next:hover > .btn {
  background: url(../img/fullscreen_next_hover.png) no-repeat;
}
.page_navi > .btn_overlay {
  position: relative;
  transition: opacity 0.3s linear;
  opacity: 0;
  z-index: -1;
  width: 100px;
  height: 300px;
  top: -200px;
  display: none;
}
.page_navi:hover > .btn_overlay {
  opacity: 1;
  z-index: unset;
}

/*jw20190912 3185*/
.fullscreen .stage_right {
  border: 0px solid #999;
  margin: 0;
}
.container_flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menuBarHide .stage {
  margin: 0;
}

.stage {
  width: 1280px;
  height: 720px;
  /**
   * jw20190919 3226
   *
   * 000 -> fff jw20190912 3185 fff -> 000
   *
   *
   * https://github.com/hiCreo/editor/issues/1530
   *
   * I removed 'background: #fff' to solve this issue
   * ( I don't think it does affect other issue ).
   * I should've found the specific reason
   * but I wasn't able to do it because of limited time.
   */
  /* background: #fff; */
  display: table-cell;
  /*Harvey May 13 2019 / 2292*/
  /*border-bottom:1px solid #999;*/
  overflow: hidden;
  position: relative;
}
.stage_left {
  border: 1px solid #999;
  float: right !important;
  margin: 0px 0px 0px 1px; /*jw20210402 #813*/
}
.stage_right {
  border: 1px solid #999;
  float: left !important;
  margin: 0px 1px 0px 0px; /*jw20210402 #813*/
}
.fullscreen .stage_left {
  border: 0px solid #999;
  margin: 0px 0px 0px 0px;
}
.fullscreen .stage_right {
  border: 0px solid #999;
  margin: 0px 0px 0px 0px;
}
.sidebar {
  width: 230px;
  height: 100%; /*jw20210402 #813*/
  display: table-cell;
  background: #fff;
  border: 1px solid #999;
  position: relative;
}

.container.menuBarHide {
  width: 1282px;
  /*overflow:hidden; //jw20200529 4583 012720SK_hide menu at outside of stage*/
}

.sidebar.menuBarHideLeft {
  visibility: hidden;
  left: -231px;
  position: absolute;
  /*transition:all 0.2s ease-in-out; //jw20200529 4583	*/
  z-index: 10100; /*//jw20200528 4567*/
}

.sidebar.menuBarHideLeft.menuBarButtonShow {
  visibility: visible;
  left: 0px;
}

.sidebar.menuBarHideRight {
  visibility: hidden;
  right: -231px;
  position: absolute;
  /*transition:all 0.2s ease-in-out; //jw20200529 4583*/
  z-index: 10100; /*//jw20200528 4567*/
}

.sidebar.menuBarHideRight.menuBarButtonShow {
  visibility: visible;
  right: 0px;
}
.sidebar.controlBarOff {
  height: calc(100% - 58px);
}

.footer.menuBarHide {
  /*width: calc(100% - 1px); //jw20200529*/
}

.sidebar.menuBarOff {
  visibility: hidden;
  position: absolute;
}

.footer.menuBarOff {
  left: 1px; /*jw20210402 #813*/
  width: calc(100% - 2px); /*jw20210402 #813*/
}

.menubar_onoff_button {
  height: 30px;
  background: #333;
  position: absolute;
  cursor: pointer;
  display: none;
  top: calc(50% - 15px);
  z-index: 10100; /*//jw20200528 4567*/
}

.menubar_onoff_button.menuBarOff {
  display: none !important;
}
.menubar_onoff_button.show_status_right {
  display: block;
  visibility: visible;
  right: 230px;
  width: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px 0 0 5px;
  border: 1px solid RGBA(255, 255, 255, 0.3);
  border-right: 0;
}

.menubar_onoff_button.show_status_right:hover {
  right: 230px;
  width: 30px;
}

.menubar_onoff_button.show_status_right .menuDotWrap {
  padding: 4px 0;
  overflow: hidden;
}

.menubar_onoff_button.show_status_right .menuDot {
  width: 2px;
  height: 2px;
  background: #aaa;
  margin: 4px;
  border-radius: 2px;
}

.menubar_onoff_button.show_status_right:hover .menuDot {
  width: 18px;
  margin-left: 6px;
}

.menubar_onoff_button.show_status_right .menuDot1 {
  transition: all 0.2s ease-in-out;
  transition-delay: 0.2s;
}
.menubar_onoff_button.show_status_right .menuDot2 {
  transition: all 0.2s ease-in-out;
  transition-delay: 0.3s;
}
.menubar_onoff_button.show_status_right .menuDot3 {
  transition: all 0.2s ease-in-out;
  transition-delay: 0.4s;
}

.menubar_onoff_button.show_status_left .menuDotWrap {
  padding: 4px 0;
  overflow: hidden;
}

.menubar_onoff_button.show_status_left .menuDot {
  width: 2px;
  height: 2px;
  background: #aaa;
  margin: 4px;
  border-radius: 2px;
}

.menubar_onoff_button.show_status_left:hover .menuDot {
  width: 18px;
  margin-left: 6px;
}

.menubar_onoff_button.show_status_left .menuDot1 {
  transition: all 0.2s ease-in-out;
  transition-delay: 0.2s;
}
.menubar_onoff_button.show_status_left .menuDot2 {
  transition: all 0.2s ease-in-out;
  transition-delay: 0.3s;
}
.menubar_onoff_button.show_status_left .menuDot3 {
  transition: all 0.2s ease-in-out;
  transition-delay: 0.4s;
}

.menubar_onoff_button.show_status_right.menuBarButtonShow {
  display: block;
  visibility: visible;
  right: 231px;
}

.menubar_onoff_button.show_status_left {
  display: block;
  visibility: visible;
  left: 230px;
  width: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 0 5px 5px 0;
  border: 1px solid RGBA(255, 255, 255, 0.3);
  border-left: 0;
}

.menubar_onoff_button.show_status_left:hover {
  left: 230px;
  width: 30px;
}

.menubar_onoff_button.show_status_left.menuBarButtonShow {
  display: block;
  visibility: visible;
  left: 231px;
}

.sidebar_top {
  width: 100%;
  height: 20px;
  padding: 5px 0;
  background: #fff;
}
.sidebar_middle {
  height: 680px;
  width: 230px;
  padding: 9px 0px 0px 0px;
  border-top: 1px solid #999;
  background: #fff;
}

.tabs {
  width: 230px;
  border-bottom: 1px solid #999;
}
.tabs div {
  width: 80px;
  height: 22px;
  background: #f3f3f3;
  display: inline-block;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 2px;
  font-size: 12px;
  cursor: pointer;
  color: #777777;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}
.tabs div:hover {
  color: #333333;
}
.tabs .tab_selected {
  background: #fff;
  color: #333333;
}
.tabs .tab_selected:hover {
  color: #666;
}
.tabs .notes,
.tabs .outline {
  outline: 0px transparent !important;
}

.side_contents {
  height: 618px;
  width: 210px;
  background: #fff;
  padding: 10px;
}
.side_wrap {
  width: 208px;
  height: 100%;
  border: 1px solid #999; /*jw20190214 padding-top:10px;*/

  overflow-y: auto;
  overflow-x: hidden;
}

.side_wrap.menuBardarkGray {
  background-color: #414956;
}
.side_wrap.menuBarblue {
  background-color: #4a89dc;
}
.side_wrap.menuBargreen {
  background-color: #03a678;
}
.side_wrap.menuBarred {
  background-color: #ed5565;
}
.side_wrap.menuBarwhite {
  background-color: #fff;
}
.side_wrap.menuBarblack {
  background-color: #292929;
}

/*Harvey June 27 2019/2625 add width and height*/
.notes_contents {
  width: 208px;
  height: 100%;
  display: none;
}

.naviBtn_block #btnBack {
  background: url(../img/back.svg) no-repeat;
  width: 42px;
  height: 15px;
  color: #fff;
  padding: 7px 5px 7px 20px;
  font-size: 14px;
}
.naviBtn_block #btnNext {
  background: url(../img/next.svg) no-repeat;
  width: 42px;
  height: 15px;
  color: #fff;
  padding: 7px 5px 7px 20px;
  font-size: 14px;
}
.enabled {
  opacity: 1;
  cursor: pointer;
}
.disabled {
  opacity: 0.5;
  cursor: default;
}
#iContent {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/*jw20190729 2729*/
#iContent_transition {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#cNav {
  height: 715px;
  overflow-y: auto;
  padding: 0px;
  background: #fff;
  border: #ddd 1px solid;
  line-height: 16px;
}

/* treeview block end */

.footer {
  width: calc(100% - 2px);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: #fff;
  display: table;
  border: 1px solid #999;
  position: relative;
  margin-top: 3px; /*jw20210402 #813*/
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*-webkit-CSS scroll */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid #bec1c4;
}
::-webkit-scrollbar-corner {
  background: #e7e7e7;
}
/*-webkit-CSS scroll End*/

/*//jw20200306 4035 */
body .lsPage {
  width: 1280px;
  height: 720px;
  top: 0px;
}
body .stageloader {
  width: 1280px;
  height: 720px;
}

/*//jw20200330 4152*/
body .bigStartBtn {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  display: none;
  z-index: 100000; /*//jw20210517*/
}
body .bigStartBtn .bigStartBtnBg {
  background-color: #ffffffc4;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  z-index: 2;
  opacity: 1;
}
body .bigStartBtn img {
  /*jw20210402 #787*/
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  left: 50%;
  top: 50%;
  /*width: 7%;*/
  /*height: 14%;*/
  /*left: 46.5%;*/
  /*top: 43%;*/
  position: absolute;
  border: 0 solid;
  cursor: pointer;
  z-index: 3;
}

/*//jw20200720 4812*/
.mainController-volume.ui-slider {
  height: 2px;
  background-color: #b7b7b7;
  border-radius: 0%;
  border: none;
}
.mainController-volume.ui-slider-horizontal .ui-slider-range-min {
  background: #404040;
}
.mainController-volume.ui-slider .ui-slider-handle {
  width: 12px;
  height: 12px;
  border: 2px solid rgb(51, 51, 51);
  background: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  top: -7px;
}
body[project-type='2'] .sidebar_middle {
  border: 0px;
  height: 710px;
}
body[project-type='2'] .sidebar_middle > .side_contents {
  height: 660px;
}
body[project-type='2'] .sidebar_middle .outline.narratorButton {
  cursor: default;
}
